<a href="https://colab.research.google.com/github/priyal6/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Credit Card Fraud Detection using Logistic Regression & Python**

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [14]:
# first 5 rows of the dataset

credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [15]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
107041,70254,-2.953700,2.465992,-0.075277,-1.455576,-1.442560,-0.655782,-0.967306,1.934201,-0.315864,...,0.066515,0.005640,0.225692,0.258676,-0.146257,0.744212,0.200626,0.145780,3.78,0.0
107042,70254,-1.284909,0.367581,1.381822,0.418554,-0.924409,-0.208886,0.908851,0.192367,0.028968,...,-0.091928,-0.178599,0.012480,0.606980,-0.282982,0.184999,-0.238502,-0.276179,175.85,0.0
107043,70254,1.155595,0.262674,0.384212,0.575116,-0.222944,-0.393407,-0.087079,0.066883,-0.250070,...,-0.194424,-0.562963,0.170927,0.184941,0.087174,0.093931,-0.009953,0.019400,1.98,0.0
107044,70255,0.796110,-1.521441,-0.487824,-1.229279,-1.007477,-0.753216,0.216543,-0.325595,0.014072,...,-0.163832,-0.371493,-0.356900,0.106574,0.682830,-0.552729,0.024517,0.066848,306.50,0.0
107045,70256,0.720550,-1.117795,0.069070,-0.988700,-0.133555,1.560845,-0.512281,0.605675,1.399755,...,0.246128,0.649672,-0.177249,-1.333367,0.291959,-0.510884,0.102425,NaN,NaN,NaN

In [16]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107046 entries, 0 to 107045
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    107046 non-null  int64
 1   V1      107046 non-null  float64
 2   V2      107046 non-null  float64
 3   V3      107046 non-null  float64
 4   V4      107046 non-null  float64
 5   V5      107046 non-null  float64
 6   V6      107046 non-null  float64
 7   V7      107046 non-null  float64
 8   V8      107046 non-null  float64
 9   V9      107046 non-null  float64
 10  V10     107046 non-null  float64
 11  V11     107046 non-null  float64
 12  V12     107046 non-null  float64
 13  V13     107046 non-null  float64
 14  V14     107046 non-null  float64
 15  V15     107046 non-null  float64
 16  V16     107046 non-null  float64
 17  V17     107046 non-null  float64
 18  V18     107046 non-null  float64
 19  V19     107046 non-null  float64
 20  V20     107046 non-null  float64
 21  V21     107046 non-null  float64
 22  V22     107046 non-null  float64
 23  V23     107046 non-null  float64
 24  V24     107046 non-null  float64
 25  V25     107046 non-null  float64
 26  V26     107046 non-null  float64
 27  V27     107046 non-null  float64
 28  V28     107045 non-null  float64
 29  Amount  107045 non-null  float64
 30  Class   107045 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 25.3 MB

In [18]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       1
Amount    1
Class     1
dtype: int64

In [20]:
#distribution of legit transactions & fraudulent transactions

credit_card_data['Class'].value_counts()

0.0    106810
1.0       235
Name: Class, dtype: int64

Dataset is highly unblanced.
0 = Normal Transaction
1 = Fradulent Transaction
# New Section

In [22]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [24]:
 print(legit.shape)
 print(fraud.shape)

(106810, 31)
(235, 31)

In [25]:
# statistical measure of the data
legit.Amount.describe()

count    106810.000000
mean         96.160345
std         261.102076
min           0.000000
25%           7.110000
50%          25.190000
75%          86.970000
max       19656.530000
Name: Amount, dtype: float64

In [26]:
fraud.Amount.describe()

count     235.000000
mean      115.033362
std       252.411933
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [27]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44175.833368,-0.245084,-0.035942,0.700867,0.146852,-0.274701,0.101713,-0.102322,0.055375,-0.048376,...,0.043165,-0.033579,-0.106266,-0.037275,0.010455,0.133169,0.025626,0.000429,0.001501,96.160345
1.0,38307.157447,-6.055745,4.242095,-7.776537,4.778256,-4.305215,-1.561174,-6.444513,1.624857,-2.767852,...,0.239640,1.372338,-0.352318,-0.115602,-0.114923,0.214972,0.090491,0.535474,0.064560,115.033362

UnderSampling 
Build a sample dataset containing similar distribution of normal transactions and fraudulent transactions

Number of fraud transactions = 235

In [29]:
legit_sample = legit.sample(n=235)

In [31]:
# Concatenating two data frames

new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [33]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
50239,44404,0.985425,-0.543453,-0.015695,-0.120421,-0.559245,-0.613861,0.070078,-0.107929,0.045003,...,0.134754,0.032003,-0.232465,0.079921,0.324282,1.090722,-0.122228,0.012500,157.29,0.0
17027,28376,1.507266,-0.966952,0.435498,-1.317164,-1.556331,-1.022552,-0.901996,-0.250987,-1.845333,...,-0.210628,-0.227656,0.029721,0.375246,0.384941,-0.207454,0.028656,0.022185,20.00,0.0
18584,29613,0.976781,-0.047292,0.312521,1.464567,-0.173809,-0.126410,0.250523,-0.084699,0.161457,...,-0.033717,-0.044121,-0.157335,0.121200,0.653736,-0.325830,0.026527,0.034709,106.00,0.0
85499,60796,1.236931,0.243911,0.174748,0.507040,-0.218134,-0.577946,-0.073194,0.005733,-0.094558,...,-0.266151,-0.837191,0.085487,-0.056859,0.205388,0.099802,-0.031980,0.015668,1.29,0.0
88865,62327,-0.829192,0.653857,2.516837,0.028772,-0.083290,-0.002343,0.159793,0.260923,0.272414,...,0.000359,-0.011455,-0.365597,-0.183589,0.440471,-0.447823,0.077235,0.073482,1.00,0.0

In [34]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
102446,68207,-13.192671,12.785971,-9.906650,3.320337,-4.801176,5.760059,-18.750889,-37.353443,-0.391540,...,27.202839,-8.887017,5.303607,-0.639435,0.263203,-0.108877,1.269566,0.939407,1.00,1.0
102782,68357,1.232604,-0.548931,1.087873,0.894082,-1.433055,-0.356797,-0.717492,0.003167,-0.100397,...,-0.448671,-0.517568,0.012833,0.699217,0.527258,-0.322607,0.080805,0.035427,19.59,1.0
105178,69394,1.140431,1.134243,-1.429455,2.012226,0.622800,-1.152923,0.221159,0.037372,0.034486,...,-0.367136,-0.891627,-0.160578,-0.108326,0.668374,-0.352393,0.071993,0.113684,1.00,1.0
106679,70071,-0.440095,1.137239,-3.227080,3.242293,-2.033998,-1.618415,-3.028013,0.764555,-1.801937,...,0.764187,-0.275578,-0.343572,0.233085,0.606434,-0.315433,0.768291,0.459623,227.30,1.0
106998,70229,0.315642,1.636778,-1.519650,4.028571,-1.186794,-0.789813,-2.279807,0.472988,-1.657635,...,0.345921,-0.108002,-0.165442,0.279895,0.808783,0.117363,0.589595,0.309064,3.79,1.0

In [35]:
new_dataset['Class'].value_counts()

0.0    235
1.0    235
Name: Class, dtype: int64

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44175.833368,-0.245084,-0.035942,0.700867,0.146852,-0.274701,0.101713,-0.102322,0.055375,-0.048376,...,0.043165,-0.033579,-0.106266,-0.037275,0.010455,0.133169,0.025626,0.000429,0.001501,96.160345
1.0,38307.157447,-6.055745,4.242095,-7.776537,4.778256,-4.305215,-1.561174,-6.444513,1.624857,-2.767852,...,0.239640,1.372338,-0.352318,-0.115602,-0.114923,0.214972,0.090491,0.535474,0.064560,115.033362

In [36]:

new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,45227.340426,-0.427800,-0.071676,0.709146,0.067636,-0.262282,0.195806,-0.089997,0.049067,-0.067167,...,0.087321,-0.091880,-0.040231,-0.025610,0.000166,0.094916,0.074619,0.002667,-0.015769,99.314979
1.0,38307.157447,-6.055745,4.242095,-7.776537,4.778256,-4.305215,-1.561174,-6.444513,1.624857,-2.767852,...,0.239640,1.372338,-0.352318,-0.115602,-0.114923,0.214972,0.090491,0.535474,0.064560,115.033362

In [37]:
# Splitting the data into features and targets

X = new_dataset.drop(columns='Class', axis = 1)
Y =  new_dataset['Class']

In [38]:
print(X)

         Time         V1         V2        V3        V4        V5        V6  \
50239   44404   0.985425  -0.543453 -0.015695 -0.120421 -0.559245 -0.613861
17027   28376   1.507266  -0.966952  0.435498 -1.317164 -1.556331 -1.022552
18584   29613   0.976781  -0.047292  0.312521  1.464567 -0.173809 -0.126410
85499   60796   1.236931   0.243911  0.174748  0.507040 -0.218134 -0.577946
88865   62327  -0.829192   0.653857  2.516837  0.028772 -0.083290 -0.002343
...       ...        ...        ...       ...       ...       ...       ...
102446  68207 -13.192671  12.785971 -9.906650  3.320337 -4.801176  5.760059
102782  68357   1.232604  -0.548931  1.087873  0.894082 -1.433055 -0.356797
105178  69394   1.140431   1.134243 -1.429455  2.012226  0.622800 -1.152923
106679  70071  -0.440095   1.137239 -3.227080  3.242293 -2.033998 -1.618415
106998  70229   0.315642   1.636778 -1.519650  4.028571 -1.186794 -0.789813

               V7         V8        V9  ...       V20        V21       V22  \
50239    0.070078  -0.107929  0.045003  ...  0.243713   0.134754  0.032003
17027   -0.901996  -0.250987 -1.845333  ... -0.315910  -0.210628 -0.227656
18584    0.250523  -0.084699  0.161457  ...  0.058433  -0.033717 -0.044121
85499   -0.073194   0.005733 -0.094558  ... -0.106623  -0.266151 -0.837191
88865    0.159793   0.260923  0.272414  ... -0.154878   0.000359 -0.011455
...           ...        ...       ...  ...       ...        ...       ...
102446 -18.750889 -37.353443 -0.391540  ... -3.493050  27.202839 -8.887017
102782  -0.717492   0.003167 -0.100397  ... -0.576274  -0.448671 -0.517568
105178   0.221159   0.037372  0.034486  ... -0.099712  -0.367136 -0.891627
106679  -3.028013   0.764555 -1.801937  ...  0.895841   0.764187 -0.275578
106998  -2.279807   0.472988 -1.657635  ...  0.388885   0.345921 -0.108002

             V23       V24       V25       V26       V27       V28  Amount
50239  -0.232465  0.079921  0.324282  1.090722 -0.122228  0.012500  157.29
17027   0.029721  0.375246  0.384941 -0.207454  0.028656  0.022185   20.00
18584  -0.157335  0.121200  0.653736 -0.325830  0.026527  0.034709  106.00
85499   0.085487 -0.056859  0.205388  0.099802 -0.031980  0.015668    1.29
88865  -0.365597 -0.183589  0.440471 -0.447823  0.077235  0.073482    1.00
...          ...       ...       ...       ...       ...       ...     ...
102446  5.303607 -0.639435  0.263203 -0.108877  1.269566  0.939407    1.00
102782  0.012833  0.699217  0.527258 -0.322607  0.080805  0.035427   19.59
105178 -0.160578 -0.108326  0.668374 -0.352393  0.071993  0.113684    1.00
106679 -0.343572  0.233085  0.606434 -0.315433  0.768291  0.459623  227.30
106998 -0.165442  0.279895  0.808783  0.117363  0.589595  0.309064    3.79

[470 rows x 30 columns]

In [39]:
print(Y)

50239     0.0
17027     0.0
18584     0.0
85499     0.0
88865     0.0
         ...
102446    1.0
102782    1.0
105178    1.0
106679    1.0
106998    1.0
Name: Class, Length: 470, dtype: float64

In [40]:
# split the data into training and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [41]:
print(X.shape, X_train.shape, X_test.shape)

(470, 30) (376, 30) (94, 30)

Model Training Logistic Regression

In [44]:
model = LogisticRegression()

In [48]:
# traing the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression()

In [50]:
#accuracy on training data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [52]:
print('Accuracy on training data :',training_data_accuracy)

Accuracy on training data : 0.9441489361702128

In [54]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [55]:
print('Accuracy on test data :',test_data_accuracy)

Accuracy on test data : 0.925531914893617